<!DOCTYPE html>
<html>

<head>
    <title>Instance Openstack Management Migration</title>
    <link href="static/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-blue-100">
    {% include 'navbar.html' %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-semibold text-blue-800 mb-4">Instance Openstack Management Migration</h1>
        <div class="grid grid-cols-2 gap-4">
            <!-- Source Host Section -->
            <div>
                <h2 class="text-2xl font-semibold text-green-800">Source Host</h2>
                <div class="mb-4">
                    <select id="sourceHostsDropdown" onchange="loadInstances()"
                        class="w-full px-4 py-2 border rounded">
                        <!-- Hosts will be loaded here -->
                    </select>
                </div>
                <h3 id="sourceHostInfo" class="text-xl font-semibold text-green-700">Info source_host</h3>
                <div class="grid grid-cols-2 gap-2 mt-2">
                    <div>
                        <p class="text-green-700">vCPUs Used:</p>
                        <p class="text-green-700">Total vCPUs:</p>
                        <p class="text-green-700">Free vCPUs:</p>
                    </div>
                    <div>
                        <p><span id="vcpusUsedSourceHost">0</span></p>
                        <p><span id="totalVCPUsSourceHost">0</span></p>
                        <p><span id="freeVCPUsSourceHost">0</span></p>
                    </div>
                </div>
                <h3 id="sourceHostTitle" class="text-xl font-semibold text-green-700">Instances on source_hosts</h3>
                <table id="sourceHost" class="w-full mt-2">
                    <!-- Your table cells and buttons -->
                </table>
                <h2 class="text-2xl font-semibold text-green-800 mt-6">vCPU Allocation Plot (based on Dest Host)</h2>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    onclick="generateVcpuAllocationPlot()">Generate Plot</button>
                <div id="vcpuAllocationPlot" class="mt-4">
                    <!-- Plot will be displayed here -->
                </div>
                <h1 class="text-2xl font-semibold text-green-800 mt-6">List Compute Free</h1>
                <div class="flex items-center mt-2">
                    <label for="vcpuInput" class="text-green-700 mr-2">Enter number of VCPUs:</label>
                    <input type="number" id="vcpuInput" name="vcpuInput" min="1"
                        class="w-20 px-2 py-1 border rounded">
                    <button onclick="getComputeWithFreeVCPUs()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2">Search
                        Compute</button>
                </div>
                <div id="computeList" class="mt-4">
                    <!-- Compute list will be displayed here -->
                </div>
            </div>

            <!-- Destination Host Section -->
            <div>
                <h2 class="text-2xl font-semibold text-green-800">Destination Host</h2>
                <div class="mb-4">
                    <select id="destinationHostsDropdown" onchange="loadDestinationHostInstances()"
                        class="w-full px-4 py-2 border rounded">
                        <!-- Hosts will be loaded here -->
                    </select>
                </div>
                <h3 id="destinationHostInfo" class="text-xl font-semibold text-green-700">Info destination_host</h3>
                <div class="grid grid-cols-2 gap-2 mt-2">
                    <div>
                        <p class="text-green-700">vCPUs Used:</p>
                        <p class="text-green-700">Total vCPUs:</p>
                        <p class="text-green-700">Free vCPUs (Before):</p>
                        <p class="text-green-700">Free vCPUs (After):</p>
                        <p class="text-green-700">Total vCPUs to Move:</p>
                    </div>
                    <div>
                        <p><span id="vcpusUsedHost">0</span></p>
                        <p><span id="totalVCPUsHost">0</span></p>
                        <p><span id="freeVCPUsHost">0</span></p>
                        <p><span id="freeVCPUsAfter">0</span></p>
                        <p><span id="totalVCPUsToMove">0</span></p>
                    </div>
                </div>
                <h3 id="destinationHostTitle" class="text-xl font-semibold text-green-700 mt-6">Instances on
                    destination_host</h3>
                <table id="destinationHost" class="w-full mt-2">
                    <!-- Instances will be loaded here -->
                </table>
                <p id="errorText" class="text-red-500 mt-4"></p>
                <h2 class="text-2xl font-semibold text-green-800 mt-6">Instances to Move</h2>
                <button onclick="clearInstancesToMove()"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Clear Instances</button>
                <table id="instancesToMove" class="w-full mt-2">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 bg-green-500 text-white">Name</th>
                            <th class="px-4 py-2 bg-green-500 text-white">vCPU</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Instances to move will be loaded here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
 <script src="static/main.js"></script> 


</body>
</html>
