<!DOCTYPE html>
<html>
<head>
    <title>List All Flavors</title>
        <link href="static/DataTables/datatables.min.css" rel="stylesheet">
        <link rel="stylesheet" href="static/tailwind.min.css">
        <link rel="stylesheet" href="static/flavors.css">

</head>
</head>
<body>
    {% include 'navbar.html' %}
    <main class="mx-4 mt-8">
    <h1 class="text-2xl font-bold mb-4">List All Flavors</h1>
    <p  class="mb-4">Last Updated: {{ flavor_last_updated }}</p>
    <!-- Di bawah tabel -->
    <!-- <p>Last Updated: {{ aio_last_updated }}</p> -->
    <div class="overflow-x-auto"> 
    <table id="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>RAM</th>
                <th>Disk</th>
                <th>VCPUs</th>
                <th>Ephemeral</th>
                <th>Is Public</th>
                <th>Swap</th>
                <th>RXTX Factor</th>
                <th>Properties</th>
            </tr>
        </thead>
        <tbody>
            {% for flavor in flavor_data %}
            <tr>
                <td>{{ flavor["ID"] }}</td>
                <td>{{ flavor["Name"] }}</td>
                <td>{{ flavor["RAM"] }}</td>
                <td>{{ flavor["Disk"] }}</td>
                <td>{{ flavor["VCPUs"] }}</td>
                <td>{{ flavor["Ephemeral"] }}</td>
                <td>{{ flavor["Is Public"] }}</td>
                <td>{{ flavor["Swap"] }}</td>
                <td>{{ flavor["RXTX Factor"] }}</td>
                <td>{{ flavor["Properties"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </main>

 
    <script src="static/DataTables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "pageLength": -1,
            buttons: ['colvis', 'pageLength', 'excel', 'print'],
            dom: 'Bfrtip',
            // fixedHeader: true,
            // scrollX : true,
            // responsive: true,
            initComplete: function () {
            var table = this;
            this.api().columns().every(function () {
                var column = this;
                var header = $(column.header());
                var originalHeaderText = header.text();
                header.empty();

                var headerContainer = $('<div class="header-container"></div>').appendTo(header);
                $('<div class="header-text">' + originalHeaderText + '</div>').appendTo(headerContainer);
                var input = $('<input type="text" placeholder="Search ' + originalHeaderText + '">')
                    .appendTo(headerContainer)
                    .on('keyup', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            // .search(val ? '^' + val + '$' : '', true, false) -> for exact match, use regex
                            .search(this.value) // -> smart search
                            .draw();
                    });
                });
            }  
            });
        });
    </script>
</body>
</html>
